.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80vw;
    height: 65px;
}

.profile>p {
    color: white;
    margin-left: 38px;
    margin-right: 15px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    cursor: pointer
}
