@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;900&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #1a1f34;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}